


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Galleries</h3>
                 </div> 
                 <div class="panel-body"> 
<p>
Dublin City Gallery | The Hugh Lane<br>
<a href='http://www.hughlane.ie' target='blank'><i>www.hughlane.ie</i></a><br>
</p>
<p>
Irish Museum of Modern Art (IMMA)<br>
<a href='http://www.imma.ie' target='blank'><i>www.imma.ie</i></a><br> 
</p>
<p>
National Gallery of Ireland<br>
<a href='http://www.nationalgallery.ie' target='blank'><i>www.nationalgallery.ie</i></a><br>
</p>

<p>
The Royal Hibernian Academy Gallery<br>
<a href='http://www.rhagallery.ie' target='blank'><i>www.rhagallery.ie</i></a><br>
</p>

              
             
                 </div>
              </div>
              </div>

<div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Museums</h3>
                 </div> 
                 <div class="panel-body"> 
                    
<p>
Chester Beatty Library<br>
<a href='http://www.cbl.ie' target='blank'><i>www.cbl.ie</i></a><br>
</p>
<p>
National Library of Ireland<br>
<a href='http://www.nli.ie' target='blank'><i>www.nli.ie</i></a><br>
</p>

<p>
The Little Museum of Dublin<br> 
<a href='http://www.littlemuseum.ie' target='blank'><i>www.littlemuseum.ie</i></a><br> 
</p>

              
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Cultural Interest</h3>
                 </div> 
                 <div class="panel-body"> 

<p>
Dublin Culture Night<br> 
<a href='http://www.culturenight.ie' target='blank'><i>www.culturenight.ie</i></a><br> 
</p> 

<p>
IMMA Shop<br>
<a href='http://www.theimmashop.com' target='blank'><i>www.theimmashop.com</i></a><br>
</p>

<p>
Irish Arts Review<br>
<a href='http://www.irishartsreview.com' target='blank'><i>www.irishartsreview.com</i></a><br> 
</p>

<p>
Office of Public Works<br>
<a href='http://www.opw.ie' target='blank'><i>www.opw.ie</i></a><br>
</p>

<p>
The Royal Institute of the Architects of Ireland<br>
<a href='http://www.riai.ie' target='blank'><i>www.riai.ie</i></a><br> 
<p>

          
             
                 </div>
              </div>
              </div>



              
              
              </div>