


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">For Group Bookings and General Enquiries</h3>
                 </div> 
                 <div class="panel-body"> 
                  <a href='mailto:publicart.tours@gmail.com?Subject=Public Art Walking Tours'>publicart.tours@gmail.com</a>
<p>

Tel: +353 87 980 3018
<p>
              <hr>
              <a href ="#/tours"  class = "btn btn-danger btn-lg"> Tours and Prices </a> 
                 </div>
              </div>
              </div>
       
          
              </div>