

              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                    Public Art Walking Tours is Dublin City's newest walking tour experience. On our two city centre tours, we showcase the variety and skills of Irish and International sculptors through their work in St. Stephens Green and Merrion Square Park. <br><br>
              We offer one-hour tours on Sunday afternoons, at 1pm from June to the end of September. Group tours are available by appointment all year round. 
              <hr> 
              <a href ="#"  class = "btn btn-danger btn-lg"> Tours and Prices </a> 
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">1916 Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <hr>
                    <a href ="#"  class = "btn btn-primary btn-lg"> 1916 Tours </a> 
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success  ">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Groups</h3>
                 </div> 
                 <div class="panel-body"> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <hr>
                    <a href ="#"  class = "btn btn-warning btn-lg"> Contact Us </a> 
                 </div>
              </div>
              </div>
              </div>