

              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                    Public Art Walking Tours is Dublin City's newest walking tour experience. On our two city centre tours, we showcase the variety and skills of Irish and International sculptors through their work in St. Stephens Green and Merrion Square Park. <br><br>
              We offer one-hour tours on Sunday afternoons, at 1pm from June to the end of September. No booking necessary! 
              <hr> 
              <div id="clickTours"><a href ="#/tours" class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">One City One Book</h3>
                 </div> 
                 <div class="panel-body"> 
                      ‘Fallen’ by Lia Mills has been chosen as the <i>One City One Book</i> for 2016. Read about this award-winning initiative <a href="http://www.dublinonecityonebook.ie/" target = 'blank'>here</a>. We are running special tours to mark this occasion every Sunday in April at 3pm. 
                      <img class="img-responsive no_opacity" alt="One City One Book" src="images/OneCityOneBook_smaller.png" />
                    <hr>
                   <div id="OneCity"> <a href ="#/tours/ocob/"  class = "btn btn-primary btn-lg"> Book Here </a> </div>
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success  ">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Group Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                    Are you part of a group or bringing a group to Dublin? Would you like to take our Walking Tour? <br><br>We can arrange a tour for your group at a time that’s convenient for you. Contact us to discuss. <br><br>Group tours are available by appointment all year round. 
                    <hr>
                    <div id="Contact"><a href ="#/contact"  class = "btn btn-warning btn-lg"> Contact Us </a> </div>
                 </div>
              </div>
              </div>
              </div>


                           <script>
                              $(document).ready(function(){
                                    $("#clickTours").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_tours").addClass("active");
                                    });
                                    $("#OneCity").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_tours").addClass("active");
                                    });
                                    $("#Contact").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_contact").addClass("active");
                                    });
                              });
                              </script>



      