

              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                    Public Art Walking Tours is Dublin City's newest walking tour experience. On our two city centre tours, we showcase the variety and skills of Irish and International sculptors through their work in St. Stephens Green and Merrion Square Park. <br><br>
              We offer one-hour tours of St. Stephen's Green on Sunday afternoons, at 1pm from June to the end of September (booking essential).
              <hr> 
              <div id="clickTours"><a href ="#/tours" class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Merrion Square - new tour for 2016!</h3>
                 </div> 
                 <div class="panel-body"> 
                      We are delighted to announce the launch of our new Merrion Square Walking Tour. This Tour will be held on one Saturday each month from June to September. <br><br>
                      <img class="img-responsive no_opacity" alt="Merrion Square" src="images/merrion_sq_smaller.jpg" />
                    <hr>
                   <div id="OneCity"> <a href ="#/tours/ocob/"  class = "btn btn-primary btn-lg"> Click here for Dates </a> </div>
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success  ">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Group Tours</h3>
                 </div> 
                 <div class="panel-body"> 
                    Are you part of a group or bringing a group to Dublin? Would you like to take our Walking Tour? <br><br>We can arrange a tour for your group at a time that’s convenient for you. Contact us to discuss. <br><br>Group tours are available by appointment all year round. 
                    <hr>
                    <div id="Contact"><a href ="#/contact"  class = "btn btn-warning btn-lg"> Contact Us </a> </div>
                 </div>
              </div>
              </div>
              </div>


                           <script>
                              $(document).ready(function(){
                                    $("#clickTours").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_tours").addClass("active");
                                    });
                                    $("#OneCity").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_tours").addClass("active");
                                    });
                                    $("#Contact").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_contact").addClass("active");
                                    });
                              });
                              </script>



      