
<div class = "row panel-group">
  <div class="panel-group">

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success ">
      <div class="panel-heading">Breaking the Mould<br>A Story of Art and Ireland</div>
      <div class="panel-body">Eamon Delaney <br> New Island Books, 2009 <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/bk_eamon_delaney_sml.jpg"/>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success ">
      <div class="panel-heading">Irish Public Sculpture <br> A History</div>
      <div class="panel-body">Judith Hill <br> Four Courts Press, 1998 <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/judith_hill.jpg"/>
      </div>
    </div>
  </div>

  <div class="clearfix visible-sm-block"></div>

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success ">
      <div class="panel-heading"> Dictionary of Irish Artists 20th Century (2nd edition)</div>
      <div class="panel-body">Theo Snoddy <br> Merlin Publishing, 2002 <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/theo_snoddy.jpg"/>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">By the Way <br> A Selection of Public Art in Ireland</div>
      <div class="panel-body">Ann Lane <br> Wordwell Books, 2010 <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/ann_lane.jpg"/>
      </div>
    </div>
  </div>

<div class="clearfix visible-sm-block"></div>

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">A City Guide to Sculpture in Dublin</div>
      <div class="panel-body">Sculptors Society of Ireland <br> SSI, 1999 <p><p> 
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/sculp_soc_sml.jpg"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">St. Stephens Green, Dublin 1660-1875</div>
      <div class="panel-body">Desmond McCabe <br> OPW, 2011  <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/desmond_mcCabe.jpg"/>
      </div>
    </div>
</div>

<div class="clearfix visible-sm-block"></div>
<div class="clearfix visible-md-block"></div>
</div>
</div>

<div class = "row panel-group">
  <div class="panel-group">
<!--<div class = "row panel-group">
  <div class="panel-group"> -->
  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">Nineteenth-Century Irish Sculpture <br> Native Genius Reaffirmed</div>
      <div class="panel-body">Paula Murphy <br> Yale University Press, 2010 <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/paula_murphy.jpg"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">Stone Mad</div>
      <div class="panel-body">Seamus Murphy <br> Collins Press, 2007 (reprint)  <p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/seamus_murphy.jpg"/>
      </div>
    </div>
  </div>

<div class="clearfix visible-sm-block"></div>

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">A History of Ireland in 100 Objects</div>
      <div class="panel-body">Fintan O'Toole <br> Royal Irish Academy, 2013 <br> (see also <a href='http://www.100objects.ie/' target='blank'>www.100objects.ie)</a><p><p>
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/fintan_oToole.jpg"/>
      </div>
    </div>
  </div>

<!--
    <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">Breaking the Mould<br>A Story of Art and Ireland</div>
      <div class="panel-body">Eamon Delaney <br> New Island Books, 2009
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/bk_eamon_delaney_sml.jpg"/>
      </div>
    </div>
  </div>

<div class="clearfix visible-sm-block"></div>

  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">Breaking the Mould<br>A Story of Art and Ireland</div>
      <div class="panel-body">Eamon Delaney <br> New Island Books, 2009
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/bk_eamon_delaney_sml.jpg"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="panel panel-success">
      <div class="panel-heading">Breaking the Mould<br>A Story of Art and Ireland</div>
      <div class="panel-body">Eamon Delaney <br> New Island Books, 2009
      <img class="img-responsive no_opacity" align="center" alt="Walking Map" src="images/bk_eamon_delaney_sml.jpg"/>
      </div>
    </div>
</div>
-->
<div class="clearfix visible-sm-block"></div>
<div class="clearfix visible-md-block"></div>

</div>
</div>

 
