


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Suggestions for further reading</h3>
                 </div> 
                 <div class="panel-body"> 
                    Breaking the Mould: A Story of Art and Ireland<br>
                    <i>Eamon Delaney | New Island Books, 2009</i>
                    <p><p>

                    Irish Public Sculpture: A History<br>
                    <i>Judith Hill | Four Courts Press, 1998</i>

                    <p><p>
                    Dictionary of Irish Artists 20th Century (2nd edition)<br>
                    <i>Theo Snoddy | Merlin Publishing, 2002</i>
                    <p><p>
                 </div>
              </div>
              </div>

              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span></h3>
                 </div> 
                 <div class="panel-body"> 
                    By the Way: A Selection of Public Art in Ireland<br>
                    <i>Ann Lane | Wordwell Books, 2010</i>
                    <p><p>


                    A City Guide to Sculpture in Dublin<br>
                    <i>Sculptors Society of Ireland | SSI, 1999 </i>
                    <p><p>

                    St. Stephens Green, Dublin 1660-1875<br>
                    <i>Desmond McCabe | OPW, 2011 </i>
                    <p><p>
                 </div>
              </div>
              </div>

              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span></h3>
                 </div> 
                 <div class="panel-body"> 
                  Nineteenth-Century Irish Sculpture: Native Genius Reaffirmed<br>
                  <i>Paula Murphy | Yale University Press, 2010 </i>
                  <p><p>

                  Stone Mad<br>
                  <i>Seamus Murphy | Collins Press, 2007 (reprint) </i>
                  <p><p>

                  A History of Ireland in 100 Objects<br>
                  <i>Fintan O'Toole | Royal Irish Academy, 2013 <i> <br>(see also www.100objects.ie)
                  <p><p>

                             
           
                 </div>
              </div>
              </div>



              
              
              </div>