


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Suggestions for further reading</h3>
                 </div> 
                 <div class="panel-body"> 
                    <b><i>Breaking the Mould: A Story of Art and Ireland</i></b><br>
Eamon Delaney<br>
New Island Books, 2009
<p>

<b><i>Irish Public Sculpture: A History</i></b><br>
Judith Hill<br>
Four Courts Press, 1998

<p>
<b><i>Dictionary of Irish Artists 20th Century (2nd edition)</i></b><br>
Theo Snoddy<br>
Merlin Publishing, 2002
<p>




              <hr>
              <a href ="#"  class = "btn btn-danger btn-lg"> Tours and Prices </a> 
                 </div>
              </div>
              </div>

<div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Suggestions for further reading</h3>
                 </div> 
                 <div class="panel-body"> 
                    


<b><i>By the Way: A Selection of Public Art in Ireland</i></b><br>
Ann Lane<br>
Wordwell Books, 2010
<p>


<b><i>A City Guide to Sculpture in Dublin</i></b><br>
Sculptors Society of Ireland<br>
SSI, 1999
<p>

<b><i>St. Stephens Green, Dublin 1660-1875</i></b><br>
Desmond McCabe<br>
OPW, 2011
<p>



              <hr>
              <a href ="#"  class = "btn btn-danger btn-lg"> Tours and Prices </a> 
                 </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Suggestions for further reading</h3>
                 </div> 
                 <div class="panel-body"> 
                   

<b><i>Nineteenth-Century Irish Sculpture: Native Genius Reaffirmed</i></b><br>
Paula Murphy<br>
Yale University Press, 2010
<p>

<b><i>Stone Mad</i></b><br>
Seamus Murphy<br>
Collins Press, 2007 (reprint)
<p>

<b><i>A History of Ireland in 100 Objects</i></b><br>
Fintan O'Toole<br>
Royal Irish Academy, 2013 (see also www.100objects.ie)
<p>
<p>

              <hr>
              <a href ="#"  class = "btn btn-danger btn-lg"> Tours and Prices </a> 
                 </div>
              </div>
              </div>



              
              
              </div>