


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">St. Stephen's Green</h3>
                 </div> 
                 <div class="panel-body"> 
                 <p>
                    1. Fusiliers Arch <i>(John Howard Pentland)</i>
                   <p>
                    2. O'Donovan Rossa <i>(Seamus Murphy)</i>
                    <p>
                    3. Robert Emmet <i>(Jerome Connor)</i>
                    <p>
                    4. Lord Ardilaun <i>(Thomas Farrell)</i>
                    <p>
                    5. Knife Edge <i>(Henry Moore)</i>
                    <p>
                    6. James Clarence Mangan <i>(Oliver Sheppard)</i>
                    <p>
                    7. Thomas Kettle <i>(Albert Power)</i>
                    <p>
                    8. Countess Markievicz <i>(Seamus Murphy)</i>
                    <p>
                    9. James Joyce <i>(Marjorie Fitzgibbon)</i>
                    <p>
                    10. Rabindranath Tagore <i>(Gautam Pal)</i>
                    <p>
                    11. The Three Fates <i>(Josef Wackerle)</i>
                    <p>
                    12. Fianna Eireann <i>(A. J. Breen)</i>
                    <p>
                    13. Wolfe Tone <i>(Edward Delaney)</i>
              <hr>
              <div id="clickTours"> <a href ="#/tours"  class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              
               <div class="col-xs-12 col-sm-8">
              <div class="panel panel-success no_opacity">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Map</h3>
                 </div> 
                 <div class="panel-body"> 
                    <img class="img-responsive no_opacity" alt="Walking Map" src="images/green_map.jpg" />
              
                 </div>
              </div>
              </div>
              </div>

              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Merrion Square Park</h3>
                 </div> 
                 <div class="panel-body"> 
                 <p>
                    1. Rutland Memorial <br> <i>(c.1970 Francis Sandys, Peter Grant)</i>
					<p>
					2. Oscar Wilde Memorial  <i>(1997 Danny Osborne)</i>
                    <p>
					3. Bernardo O’Higgins <br> <i>(1995 Francisco Orellana Pavez)</i>
                    <p>
					4. Henry Grattan  <i>(1982 Peter Grant)</i>
                    <p>
					 5. George Russell  <i>(1985 Jerome Connor)</i>
                    <p>
					6. Michael Collins  <i>(1990 Dick Joynt)</i>
                    <p>
					7. Eire Memorial  <i>(1976 Jerome Connor)</i>
                    <p>
					8. Tribute Head  <i>(1975 Elizabeth Frink)</i>
                    <p>
					9. Jokers Chair  <i>(2002 Catherine Greene)</i>
                    <p>
					10. The Victims  <i>(1976 Andrew O’Connor)</i>
					<p>
                    11. An Dun Cuimhneachain  <i>(2008 Brian King)</i>
                    <p>
                    
                  
                
                  
              <hr>
              <div id ="ClickTours2"><a href ="#/tours"  class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              
               <div class="col-xs-12 col-sm-8">
              <div class="panel panel-success no_opacity">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Map</h3>
                 </div> 
                 <div class="panel-body"> 
                    <img class="img-responsive no_opacity" alt="Walking Map (to follow)" src="images/merrion_map.jpg" />
             
                 </div>
              </div>
              </div>
              </div>

               <script>
                $(document).ready(function(){
                      $("#clickTours").click(function(){     
                        $("#myNavbar li").removeClass("active");
                        $("#li_tours").addClass("active");
                      });
                      $("#clickTours2").click(function(){     
                        $("#myNavbar li").removeClass("active");
                        $("#li_tours").addClass("active");
                      });
                });
                </script>