


              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">St. Stephen's Green</h3>
                 </div> 
                 <div class="panel-body"> 
                 <p>
                    1. Fusiliers Arch <i>(John Howard Pentland)</i>
                   <p>
                    2. O'Donovan Rossa <i>(Seamus Murphy)</i>
                    <p>
                    3. Robert Emmet <i>(Jerome Connor)</i>
                    <p>
                    4. Lord Ardilaun <i>(Thomas Farrell)</i>
                    <p>
                    5. Knife Edge <i>(Henry Moore)</i>
                    <p>
                    6. James Clarence Mangan <i>(Oliver Sheppard)</i>
                    <p>
                    7. Thomas Kettle <i>(Albert Power)</i>
                    <p>
                    8. Countess Markievicz <i>(Seamus Murphy)</i>
                    <p>
                    9. James Joyce <i>(Marjorie Fitzgibbon)</i>
                    <p>
                    10. Rabindranath Tagore <i>(Gautam Pal)</i>
                    <p>
                    11. The Three Fates <i>(Josef Wackerle)</i>
                    <p>
                    12. Fianna Eireann <i>(A. J. Breen)</i>
                    <p>
                    13. Wolfe Tone <i>(Edward Delaney)</i>
              <hr>
              <div id="clickTours"> <a href ="#/tours"  class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              
               <div class="col-xs-12 col-sm-8">
              <div class="panel panel-success no_opacity">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Map</h3>
                 </div> 
                 <div class="panel-body"> 
                    <img class="img-responsive no_opacity" alt="Walking Map" src="images/green_map.jpg" />
              
                 </div>
              </div>
              </div>
              </div>

              <div class="row">
              <div class="col-xs-12 col-sm-4">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Merrion Square Park</h3>
                 </div> 
                 <div class="panel-body"> 
                 <p>
                    1. An Dun Cuimhneachain  <i>(Brian King)</i>
                   <p>
                    2. Rutland Memorial  <i>(Francis Sandys)</i>
                    <p>
                    3. Oscar Wilde Memorial  <i>(Danny Osborne)</i>
                    <p>
                    4. Henry Grattan  <i>(Peter Grant)</i>
                    <p>
                    5. Tribute Head  <i>(Elizabeth Frink)</i>
                    <p>
                    6. AE Russell  <i>(Jerome Connor)</i>
                    <p>
                    7. Michael Collins  <i>(Dick Joynt)</i>
                    <p>
                    8. Eire Memorial  <i>(Jerome Connor)</i>
                    <p>
                    9. Jokers Chair  <i>(Catherine Greene)</i>
                    <p>
                    10. Mother and Child  <i>(Patrick Roe)</i>
                    <p>
                    11. Bernardo O’Higgins <i>(Francisco Orellana Pavez)</i>
                    <p>
                    12. The Victims  <i>(Andrew O’Connor)</i>
                  
              <hr>
              <div id ="ClickTours2"><a href ="#/tours"  class = "btn btn-danger btn-lg"> Tours and Prices </a> </div>
                 </div>
              </div>
              </div>
              
               <div class="col-xs-12 col-sm-8">
              <div class="panel panel-success no_opacity">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Walking Map</h3>
                 </div> 
                 <div class="panel-body"> 
                    <img class="img-responsive no_opacity" alt="Walking Map (to follow)" src="#" />
             
                 </div>
              </div>
              </div>
              </div>

               <script>
                $(document).ready(function(){
                      $("#clickTours").click(function(){     
                        $("#myNavbar li").removeClass("active");
                        $("#li_tours").addClass("active");
                      });
                      $("#clickTours2").click(function(){     
                        $("#myNavbar li").removeClass("active");
                        $("#li_tours").addClass("active");
                      });
                });
                </script>