


              <div class="row">
              <div class="col-xs-12 col-sm-6">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">St. Stephen's Green</h3>
                 </div> 
                 <div class="panel-body"> 
                    The St. Stephen's Green tour consists of 13 sculptures all located within the park. One of these works is not accessible by wheelchair.<hr>

        
        Meet at Fusiliers Arch, just outside the main entrance to Stephen's Green and the first point on the tour.
    
       

                 </div>
              </div>

<div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Merrion Square Park</h3>
                 </div> 
                 <div class="panel-body"> 
                    There are 11 sculptures in Merrion Square Park as well as the Rutland Memorial and a collection of old Dublin lampposts. <hr>Meet at the entrance across from Leinster House (between the National Gallery and the Natural History Museum) in front of the glass pyramid.

                 </div>
              </div>


              </div>
              <div class="col-xs-12 col-sm-6">
              <div class="panel panel-success">
                 <div class="panel-heading">   
                    <h3 class="panel-title">Prices</h3>
                 </div> 
                 <div class="panel-body"> 
                     Adult :: 6 Euro <br>
Children under 18 :: Free <br>
OAP :: 3 Euro <br>
Group :: 4 Euro each (over 15 in group) <p><p>
Please note, no more than 20 people can be accommodated on a tour.<p><p>

Pay on day<p><p>

Tour duration: Approx. 1 Hour<p><p>
                    <hr>
                    <a href ="#/contact"  class = "btn btn-primary btn-lg"> Contact Us </a> 
                 </div>
              </div>
              </div>
         
              </div>
