
            

              <div class="row">

                    <div class="col-xs-12 col-sm-6">
                    
                        <div class="panel panel-success">
                           <div class="panel-heading">   
                              <h3 class="panel-title">St. Stephen's Green</h3>
                           </div> 
                           <div class="panel-body"> 
                              <!--- //One City One Book April Tours now completed
                               <span ng-show="ocob_true" ng-class="{'highlight_ocob' :  (ocob_true == true)}">[ </span>
                              To celebrate <span ng-class="{'highlight_ocob' :  (ocob_true == true)}">One City One Book </span> 2016, an extra tour will run every Sunday in April at 3pm 
                              <span ng-show="ocob_true" ng-class="{'highlight_ocob' :  (ocob_true == true)}"> ]</span>
                              <br><br>
                              -->
                               <table class="table">
                                
                                <tbody>
                                 <thead>
                                  <tr>
                                    <th>Months</th>
                                    <th>Time</th>
                                    <th>Day</th>
                                  </tr>
                                </thead>
                                  <tr>
                                    <td>June, July, August, September</td>
                                    <td>1pm</td>
                                    <td>Sunday</td>
                                  </tr>

                                  <!-- //One City One Book April Tours now completed
                                  <tr>
                                    <td>April 2016 only</td>
                                    <td>3pm</td>
                                    <td>Sunday</td>
                                  </tr>
                                 --> 
                                </tbody>
                              </table>

                              <hr>
                              The St. Stephen's Green tour consists of 13 sculptures all located within the park. One of these works is not accessible by wheelchair.<br/><br/>
                              
                              <table class="table">
                                
                                <tbody>
                              <tr>
                              <td><span class="glyphicon glyphicon-flag"></span></td>
                              <td>Meet at Fusiliers Arch, just outside the main entrance to Stephen's Green and the first point on the tour. </td>
                              
                            <td>
                              <button id="showGreen" type="button" ng-model="map" ng-click="setMap(0)" class="btn btn-primary btn-xs">Show me</button>
                              </td>
                              </tr>
                              </tbody>
                              </table>
                              <make-map map="map" id="mapGreen" class="collapse"></make-map>
      
                              

                           </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">      
                      <div class="panel panel-success">
                           <div class="panel-heading">   
                              <h3 class="panel-title">Merrion Square Park</h3>
                           </div> 
                           <div class="panel-body"> 
                 <table class="table">
                                
                                <tbody>
                                 <thead>
                                  <tr>
                                    <th>Dates</th>
                                    <th>Time</th>
                                    <th>Day</th>
                                  </tr>
                                </thead>
                                  <tr>
                                    <td>June 18th</td>
                                    <td>1pm</td>
                                    <td>Saturday</td>
                                  </tr>
                                  <tr>
                                    <td>July 30th</td>
                                    <td>1pm</td>
                                    <td>Saturday</td>
                                  </tr>
                                  <tr>
                                    <td>August 13th</td>
                                    <td>1pm</td>
                                    <td>Saturday</td>
                                  </tr>
                                  <tr>
                                    <td>September 10th</td>
                                    <td>1pm</td>
                                    <td>Saturday</td>
                                  </tr>
                                 
                                  
                                </tbody>
                              </table>
                              <hr>
                              There are 11 sculptures in Merrion Square Park as well as the Rutland Memorial and a collection of old Dublin lampposts.
                              <br/><br/>

                              <table class="table">
                                
                                <tbody>
                              <tr>
                              <td><span class="glyphicon glyphicon-flag"></span> </td><td>Meet at the entrance across from Leinster House (between the National Gallery and the Natural History Museum) in front of the glass pyramid. </td>
                               <td>
                              <button id="showMerrion" type="button" ng-model="map" ng-click="setMap(1)" class="btn btn-primary btn-xs">Show me</button>
                              </td>
                              </tr>
                              </tbody>
                              </table>
                              <make-map map="map" id="mapMerrion" class="collapse"></make-map>
      
                              
                           </div>
                      </div>
                  </div>
              
                    <div class="col-xs-12 col-sm-12">
                          
                          <div class="panel panel-success">
                             <div class="panel-heading">   
                                <h3 class="panel-title">Prices</h3>
                             </div> 
                             <div class="panel-body"> 

                                  <div class="col-xs-12 col-sm-3">  
                                    <div class="panel panel-info">
                                      <div class="panel-heading">Adult</div>
                                      <div class="panel-body">6 euro<p><p>
                                      </div>
                                    </div>
                                  </div>

                                   <div class="col-xs-12 col-sm-3"> 
                                      <div class="panel panel-info">
                                        <div class="panel-heading">OAP</div>
                                        <div class="panel-body">3 euro<p><p>
                                        </div>
                                      </div> 
                                    </div>

                                    <div class="col-xs-12 col-sm-3">  
                                       <div class="panel panel-info">
                                        <div class="panel-heading">Child (under 16)</div>
                                        <div class="panel-body">Free<p><p>
                                        </div>
                                      </div>
                                    </div>
                                 <div class="col-xs-12 col-sm-3">     
                                  <div class="panel panel-info">
                                      <div class="panel-heading">Group (minimum 15 people) </div>
                                      <div class="panel-body">4 euro p/p<p><p>
                                      </div>
                                    </div> 
                                  </div>

                                 <div class="col-xs-12 col-sm-12">                      
                                Please note, no more than 20 people can be accommodated on a tour.<p><p>
                                Pay on day.
                                

                                <hr>
                                <div id="Contact"><a href ="#/contact"  class = "btn btn-primary btn-lg"> Contact Us </a> </div>
                                </div>
                            </div>
                          
              </div>
         
              </div>
        </div>


                            <script>
                              $(document).ready(function(){
                                    $("#showGreen").click(function(){     
                                      $("#mapGreen").fadeToggle();
                                      $("#mapMerrion").hide('fast');
                                    });

                                     $("#showMerrion").click(function(){
                                        $("#mapMerrion").fadeToggle();
                                        $("#mapGreen").hide('fast');
                                    });
                                     $("#Contact").click(function(){     
                                      $("#myNavbar li").removeClass("active");
                                      $("#li_contact").addClass("active");
                                    });
                              });
                              </script>
                            