
<div class='"container-fluid"'>
	<div class="row">
	<div class="col-sm-8">
	</div>
	<div class='jumbotron' ng-if="loading && loading_forecast"><h1>Loading.....</h1></div>    
	<div class="col-sm-4">
	<div>
		<weather-panel info="weatherList"></weather-panel> <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#showForecast">Forecast</button>
   </div>
   
	<div id="showForecast" class="collapse">
		<forecast-weather-panel info2="forecastList"></forecast-weather-panel> 
  </div>
  </div>
</div>
</div>
